<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="автопрокат.Properties.Settings.АвтопрокатConnectionString"
            connectionString="Data Source=STUD-8;Initial Catalog=Автопрокат;User ID=SA;Password=11111111"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>